.AddPlaylistCard {
  border: 3px dotted var(--accent-color);
  border-radius: 4px;
  display: grid;
  place-content: center;
  width: 200px;
  height: 200px;
}
.AddPlaylistCard button {
  all: unset;
  font-size: 3rem;
  color: var(--accent-color);
  cursor: pointer;
}
