.playlistcard {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.playlistcard div {
  overflow: hidden;
}
.playlistcard img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
p {
  margin: 0;
}
.title {
  font-weight: var(--fw-medium);
  color: var(--primary-text-color);
}
.desc {
  font-weight: var(--fw-light);
  color: var(--secondary-text-color);
  font-size: 0.8rem;
}
.playlistcard:is(:hover, :focus) img {
  transform: scale(1.4);
}

.small {
  font-size: 0.9rem !important;
  padding: 0 !important;
}
.small:is(:hover, :focus) {
  color: var(--accent-color);
}
