@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: white;
  --accent-color: tomato;
  --background-color: whitesmoke;

  --switch: #444;

  --primary-text-color: black;
  --secondary-text-color: grey;

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-midlight: 400;
  --fw-light: 300;
}

body {
  margin: 0;
  transition: all 0.1s ease-in;
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
}

:root:has(.SwitchRoot[data-state="checked"]) {
  --background-color: #111;
  --primary-color: #1a1a1a;

  --primary-text-color: rgba(255, 255, 255, 0.7);
  --secondary-text-color: #444;

  --switch: rgba(255, 255, 255, 0.9);
}
